<template>
  <div class="row contact">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</template>
<style>
.contact {
  background-image: url("https://arm-resource.s3.ap-south-1.amazonaws.com/contact/contacts.jpg");
}
</style>
<script>
export default {};
</script>
