<template>
  <div class="row">
    <div class="col">
      <img src="@/assets/images/partners/Waaree-logo.png" />
    </div>
    <div class="col">
      <img src="@/assets/images/partners/waacab-logo.png" />
    </div>
    <div class="col">
      <img src="@/assets/images/partners/luminous-logo.jpg" />
    </div>
    <div class="col">
      <img src="@/assets/images/partners/Okaya-Logo.png" />
    </div>
  </div>
</template>
<script>
export default {
  name: "Partners",
  data() {
    return {
      waacab: "@/assets/images/partners/waacab-logo.png",
      luminous: "@/assets/images/partners/luminous-logo.jpg",
      waree: "@/assets/images/partners/Waaree-logo.png",
      okaya: "@/assets/images/partners/Okaya-Logo.png"
    };
  }
};
</script>
<style scoped>
img {
  height: 80px;
  width: 100%;
}

#partner {
  background-color: #eee;
  white-space: nowrap;
  width: 100%;
  display: table;
}

.logo-image {
  vertical-align: middle;
  padding: 2px;
  display: table-cell;
}
</style>
